                                
                <!-- Breadcrumb -->
                <ol class="breadcrumb hidden-xs">
                    <li><a href="#">Home</a></li>
                </ol>
                
                <h4 class="page-title b-0">Auto Tesing</h4>
                
                <div class="message-list list-container">
                    <header class="listview-header media">
                        <input type="checkbox" class="pull-left list-parent-check" value="">
                            
                        <ul class="list-inline pull-right m-t-5 m-b-0">
                            <li class="pagin-value hidden-xs">35-70</li>
                            <li>
                                <a href="" title="Previous" class="tooltips">
                                    <i class="sa-list-back"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" title="Next" class="tooltips">
                                    <i class="sa-list-forwad"></i>
                                </a>
                            </li>
                        </ul>
                        
                        <ul class="list-inline list-mass-actions pull-left">
                            <li>
                                <a href="" title="Refresh" class="tooltips">
                                    <i class="sa-list-refresh"></i>
                                </a>
                            </li>
                            <li class="show-on" style="display: none;">
                                <a href="" title="Move" class="tooltips">
                                    <i class="sa-list-move"></i>
                                </a>
                            </li>
                            <li class="show-on" style="display: none;">
                                <a href="" title="Delete" class="tooltips">
                                    <i class="sa-list-delete"></i>
                                </a>
                            </li>
                        </ul>

                        <input class="input-sm col-md-4 pull-right message-search" type="text" style="background-repeat:no-repeat;" >
                        
                        <div class="clearfix"></div>
                    </header>
                    
                    <div class="media">
                        <input type="checkbox" class="pull-left list-check">

                        <a class="media-body" href="message-detail.html">
                            <div class="pull-left list-title">
                                <span class="t-overflow f-bold">Christian Bale</span>
                            </div>
                            <div class="pull-right list-date">9.46 am</div> 
                            <div class="media-body hidden-xs">
                                <span class="t-overflow">Per an error perpetua, fierent fastidii recteque ad pro. Mei id brute intellegam</span>
                            </div>
                        </a>
                    </div>
                    
                    <div class="media">
                        <input type="checkbox" class="pull-left list-check">

                        <a class="media-body" href="message-detail.html">
                            <div class="pull-left list-title">
                                <span class="t-overflow f-bold">Angel Norton Junior</span>
                            </div>
                            <div class="pull-right list-date">7.56 am</div>
                            <div class="media-body hidden-xs">
                                <span class="t-overflow">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum sem ligula, vulputate et</span>
                            </div>
                        </a>
                    </div>
                     <div class="media">
                        <input type="checkbox" class="pull-left list-check">

                        <a class="media-body" href="message-detail.html">
                            <div class="pull-left list-title">
                                <span class="t-overflow f-bold">Angel Norton Junior</span>
                            </div>
                            <div class="pull-right list-date">7.56 am</div>
                            <div class="media-body hidden-xs">
                                <span class="t-overflow">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum sem ligula, vulputate et</span>
                            </div>
                        </a>
                    </div>
                     <div class="media">
                        <input type="checkbox" class="pull-left list-check">

                        <a class="media-body" href="message-detail.html">
                            <div class="pull-left list-title">
                                <span class="t-overflow f-bold">Angel Norton Junior</span>
                            </div>
                            <div class="pull-right list-date">7.56 am</div>
                            <div class="media-body hidden-xs">
                                <span class="t-overflow">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum sem ligula, vulputate et</span>
                            </div>
                        </a>
                    </div>
                     <div class="media">
                        <input type="checkbox" class="pull-left list-check">

                        <a class="media-body" href="message-detail.html">
                            <div class="pull-left list-title">
                                <span class="t-overflow f-bold">Angel Norton Junior</span>
                            </div>
                            <div class="pull-right list-date">7.56 am</div>
                            <div class="media-body hidden-xs">
                                <span class="t-overflow">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum sem ligula, vulputate et</span>
                            </div>
                        </a>
                    </div>
                     <div class="media">
                        <input type="checkbox" class="pull-left list-check">

                        <a class="media-body" href="message-detail.html">
                            <div class="pull-left list-title">
                                <span class="t-overflow f-bold">Angel Norton Junior</span>
                            </div>
                            <div class="pull-right list-date">7.56 am</div>
                            <div class="media-body hidden-xs">
                                <span class="t-overflow">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum sem ligula, vulputate et</span>
                            </div>
                        </a>
                    </div>
                     <div class="media">
                        <input type="checkbox" class="pull-left list-check">

                        <a class="media-body" href="message-detail.html">
                            <div class="pull-left list-title">
                                <span class="t-overflow f-bold">Angel Norton Junior</span>
                            </div>
                            <div class="pull-right list-date">7.56 am</div>
                            <div class="media-body hidden-xs">
                                <span class="t-overflow">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum sem ligula, vulputate et</span>
                            </div>
                        </a>
                    </div>

 
                </div>



                <!-- Add Task -->
                <div class="block-area" id="multi-column">
                    <h3 class="block-title">Add Task</h3>
                    <form class="row form-columned" role="form">
                        <div class="col-md-2 m-b-10">
                            <select class="select">
                                <option>Nmap</option>
                                <option>Dirb</option>
                                <option>SubDomainsBrute</option>
                                <option>CDN Testing</option>

                            </select>
                        </div>
                        <div class="col-md-2">
                            <input type="tel" class="form-control input-sm m-b-10" placeholder="Task Name">
                        </div>
                        <div class="col-md-8">
                            <input type="tel" class="form-control input-sm m-b-10" placeholder="Task Name">
                        </div>
                        
                        <div class="col-md-10">
                            <button type="submit" class="btn btn-sm">Save Profile</button>
                        </div>
                    </form>
                </div>